In [1]:
# import libraries here; add more as necessary
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# magic word for producing visualizations in notebook
%matplotlib inline

In [2]:
#open the file - delete file later
azdias = pd.read_csv("azdias_null.csv.zip",compression='gzip')

D:\anaconda\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (19,20) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
azdias.head()

,Unnamed: 0,LNR,AGER_TYP,AKT_DAT_KL,ALTER_HH,ALTER_KIND1,ALTER_KIND2,ALTER_KIND3,ALTER_KIND4,ALTERSKATEGORIE_FEIN,...,VHN,VK_DHT4A,VK_DISTANZ,VK_ZG11,W_KEIT_KIND_HH,WOHNDAUER_2008,WOHNLAGE,ZABEOTYP,ANREDE_KZ,ALTERSKATEGORIE_GROB
0,0,910215,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,1,2
1,1,910220,NaN,9.0,NaN,NaN,NaN,NaN,NaN,21.0,...,4.0,8.0,11.0,10.0,3.0,9.0,4.0,5,2,1
2,2,910225,NaN,9.0,17.0,NaN,NaN,NaN,NaN,17.0,...,2.0,9.0,9.0,6.0,3.0,9.0,2.0,5,2,3
3,3,910226,2.0,1.0,13.0,NaN,NaN,NaN,NaN,13.0,...,0.0,7.0,10.0,11.0,NaN,9.0,7.0,3,2,4
4,4,910241,NaN,1.0,20.0,NaN,NaN,NaN,NaN,14.0,...,2.0,3.0,5.0,4.0,2.0,9.0,3.0,4,1,3

In [4]:
print(azdias.shape)

(891221, 367)

In [5]:
#change the unamed column name to  delete 
azdias.rename(columns={'Unnamed: 0': "delete"}, inplace= True)

In [6]:
#drop columns which have more than 50% missing values from azdias and customers
drop_azdias = ['delete', 'AGER_TYP', 'ALTER_KIND1', 'ALTER_KIND2', 'ALTER_KIND3', 'ALTER_KIND4', 'EXTSEL992', 'KBA05_BAUMAX', 'KK_KUNDENTYP', 'TITEL_KZ']
azdias.drop(columns= drop_azdias, inplace=True)

In [7]:
print(azdias.shape)

(891221, 357)

In [24]:
# list = azdias.isnull().sum().sort_values(ascending=False).nlargest(270)
# azdias['CAMEO_INTL_2015_2'] = pd.to_numeric(azdias['CAMEO_INTL_2015'], errors = 'coerce', downcast ='float')

In [27]:
azdias.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891221 entries, 0 to 891220
Columns: 357 entries, LNR to ALTERSKATEGORIE_GROB
dtypes: float64(264), int64(87), object(6)
memory usage: 2.4+ GB

In [86]:
#get the list of column names with dtype as object
obj_list = azdias.select_dtypes(include='object').columns
obj_list

Index(['CAMEO_DEU_2015', 'CAMEO_DEUG_2015', 'CAMEO_INTL_2015',
       'D19_LETZTER_KAUF_BRANCHE', 'EINGEFUEGT_AM', 'OST_WEST_KZ',
       'CAMEO_DEU_2015_2', 'CAMEO_DEUG_2015_2', 'CAMEO_INTL_2015_2'],
      dtype='object')

In [87]:
#convert object dtype columns to ints dtype

def convertobjects(dataset):
    dataset['CAMEO_DEU_2015_2'] = dataset['CAMEO_DEU_2015'].astype(str).str[0]   #get the first element of the string
    dataset['CAMEO_DEUG_2015_2']= dataset['CAMEO_DEUG_2015'].astype(str).str[0]
    dataset['CAMEO_INTL_2015_2'] = dataset['CAMEO_INTL_2015'].astype(str).str[0]
    
    CAMEI_dict = {"1": 1, "2": 2, "3": 3, "4": 4, "5":5, "6":6, "7":7, "8": 8, "9":9}   #convert to int dtype
    dataset['CAMEO_DEU_2015_2']= dataset['CAMEO_DEU_2015_2'].map(CAMEI_dict)
    dataset['CAMEO_DEUG_2015_2']= dataset['CAMEO_DEUG_2015_2'].map(CAMEI_dict)
    dataset['CAMEO_INTL_2015_2']= dataset['CAMEO_INTL_2015_2'].map(CAMEI_dict)
    
    dataset['OST_WEST_KZ']= dataset['OST_WEST_KZ'].map({"W":1 , "O":0})

In [88]:
convertobjects(azdias)

In [94]:
#drop the object dtype columns
object_dtype_drop = ['CAMEO_DEU_2015', 'CAMEO_DEUG_2015', 'CAMEO_INTL_2015', 'D19_LETZTER_KAUF_BRANCHE', 'EINGEFUEGT_AM']
azdias.drop(columns= object_dtype_drop, inplace=True)

In [95]:
azdias.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891221 entries, 0 to 891220
Columns: 355 entries, LNR to CAMEO_INTL_2015_2
dtypes: float64(268), int64(87)
memory usage: 2.4 GB

In [117]:
#get the columns with respective unique data groups
big_cat_columns = []
for columns in azdias.columns:
    groups = azdias[columns].nunique()
    print('{}  ----  {}'.format(columns, groups))
    if groups >15:
        big_cat_columns.append(columns)   #list of columns with more than 15 unique data.

LNR  ----  891221
AKT_DAT_KL  ----  9
ALTER_HH  ----  21
ALTERSKATEGORIE_FEIN  ----  26
ANZ_HAUSHALTE_AKTIV  ----  292
ANZ_HH_TITEL  ----  21
ANZ_KINDER  ----  11
ANZ_PERSONEN  ----  30
ANZ_STATISTISCHE_HAUSHALTE  ----  268
ANZ_TITEL  ----  6
ARBEIT  ----  6
BALLRAUM  ----  7
CJT_GESAMTTYP  ----  6
CJT_KATALOGNUTZER  ----  5
CJT_TYP_1  ----  5
CJT_TYP_2  ----  5
CJT_TYP_3  ----  5
CJT_TYP_4  ----  5
CJT_TYP_5  ----  5
CJT_TYP_6  ----  5
D19_BANKEN_ANZ_12  ----  7
D19_BANKEN_ANZ_24  ----  7
D19_BANKEN_DATUM  ----  10
D19_BANKEN_DIREKT  ----  8
D19_BANKEN_GROSS  ----  7
D19_BANKEN_LOKAL  ----  8
D19_BANKEN_OFFLINE_DATUM  ----  10
D19_BANKEN_ONLINE_DATUM  ----  10
D19_BANKEN_ONLINE_QUOTE_12  ----  11
D19_BANKEN_REST  ----  8
D19_BEKLEIDUNG_GEH  ----  8
D19_BEKLEIDUNG_REST  ----  8
D19_BILDUNG  ----  8
D19_BIO_OEKO  ----  8
D19_BUCH_CD  ----  8
D19_DIGIT_SERV  ----  8
D19_DROGERIEARTIKEL  ----  8
D19_ENERGIE  ----  8
D19_FREIZEIT  ----  8
D19_GARTEN  ----  8
D19_GESAMT_ANZ_12  ----  7
D19_GESAMT_ANZ_24  ----  7
D19_GESAMT_DATUM  ----  10
D19_GESAMT_OFFLINE_DATUM  ----  10
D19_GESAMT_ONLINE_DATUM  ----  10
D19_GESAMT_ONLINE_QUOTE_12  ----  11
D19_HANDWERK  ----  8
D19_HAUS_DEKO  ----  8
D19_KINDERARTIKEL  ----  8
D19_KONSUMTYP  ----  7
D19_KONSUMTYP_MAX  ----  6
D19_KOSMETIK  ----  8
D19_LEBENSMITTEL  ----  8
D19_LOTTO  ----  8
D19_NAHRUNGSERGAENZUNG  ----  8
D19_RATGEBER  ----  8
D19_REISEN  ----  8
D19_SAMMELARTIKEL  ----  8
D19_SCHUHE  ----  8
D19_SONSTIGE  ----  8
D19_SOZIALES  ----  6
D19_TECHNIK  ----  8
D19_TELKO_ANZ_12  ----  7
D19_TELKO_ANZ_24  ----  7
D19_TELKO_DATUM  ----  10
D19_TELKO_MOBILE  ----  8
D19_TELKO_OFFLINE_DATUM  ----  10
D19_TELKO_ONLINE_DATUM  ----  10
D19_TELKO_ONLINE_QUOTE_12  ----  5
D19_TELKO_REST  ----  8
D19_TIERARTIKEL  ----  8
D19_VERSAND_ANZ_12  ----  7
D19_VERSAND_ANZ_24  ----  7
D19_VERSAND_DATUM  ----  10
D19_VERSAND_OFFLINE_DATUM  ----  10
D19_VERSAND_ONLINE_DATUM  ----  10
D19_VERSAND_ONLINE_QUOTE_12  ----  11
D19_VERSAND_REST  ----  8
D19_VERSI_ANZ_12  ----  7
D19_VERSI_ANZ_24  ----  7
D19_VERSI_DATUM  ----  10
D19_VERSI_OFFLINE_DATUM  ----  10
D19_VERSI_ONLINE_DATUM  ----  10
D19_VERSI_ONLINE_QUOTE_12  ----  8
D19_VERSICHERUNGEN  ----  8
D19_VOLLSORTIMENT  ----  8
D19_WEIN_FEINKOST  ----  8
DSL_FLAG  ----  2
EINGEZOGENAM_HH_JAHR  ----  37
EWDICHTE  ----  6
FINANZ_ANLEGER  ----  5
FINANZ_HAUSBAUER  ----  5
FINANZ_MINIMALIST  ----  5
FINANZ_SPARER  ----  5
FINANZ_UNAUFFAELLIGER  ----  5
FINANZ_VORSORGER  ----  5
FINANZTYP  ----  6
FIRMENDICHTE  ----  5
GEBAEUDETYP  ----  7
GEBAEUDETYP_RASTER  ----  5
GEBURTSJAHR  ----  117
GEMEINDETYP  ----  7
GFK_URLAUBERTYP  ----  12
GREEN_AVANTGARDE  ----  2
HEALTH_TYP  ----  3
HH_DELTA_FLAG  ----  2
HH_EINKOMMEN_SCORE  ----  6
INNENSTADT  ----  8
KBA05_ALTER1  ----  5
KBA05_ALTER2  ----  5
KBA05_ALTER3  ----  5
KBA05_ALTER4  ----  6
KBA05_ANHANG  ----  4
KBA05_ANTG1  ----  5
KBA05_ANTG2  ----  5
KBA05_ANTG3  ----  4
KBA05_ANTG4  ----  3
KBA05_AUTOQUOT  ----  5
KBA05_CCM1  ----  5
KBA05_CCM2  ----  5
KBA05_CCM3  ----  5
KBA05_CCM4  ----  5
KBA05_DIESEL  ----  5
KBA05_FRAU  ----  5
KBA05_GBZ  ----  5
KBA05_HERST1  ----  6
KBA05_HERST2  ----  5
KBA05_HERST3  ----  6
KBA05_HERST4  ----  6
KBA05_HERST5  ----  6
KBA05_HERSTTEMP  ----  5
KBA05_KRSAQUOT  ----  5
KBA05_KRSHERST1  ----  5
KBA05_KRSHERST2  ----  5
KBA05_KRSHERST3  ----  5
KBA05_KRSKLEIN  ----  3
KBA05_KRSOBER  ----  3
KBA05_KRSVAN  ----  3
KBA05_KRSZUL  ----  3
KBA05_KW1  ----  5
KBA05_KW2  ----  5
KBA05_KW3  ----  5
KBA05_MAXAH  ----  5
KBA05_MAXBJ  ----  4
KBA05_MAXHERST  ----  5
KBA05_MAXSEG  ----  4
KBA05_MAXVORB  ----  3
KBA05_MOD1  ----  5
KBA05_MOD2  ----  5
KBA05_MOD3  ----  5
KBA05_MOD4  ----  6
KBA05_MOD8  ----  4
KBA05_MODTEMP  ----  6
KBA05_MOTOR  ----  4
KBA05_MOTRAD  ----  4
KBA05_SEG1  ----  4
KBA05_SEG10  ----  5
KBA05_SEG2  ----  5
KBA05_SEG3  ----  5
KBA05_SEG4  ----  5
KBA05_SEG5  ----  5
KBA05_SEG6  ----  2
KBA05_SEG7  ----  4
KBA05_SEG8  ----  4
KBA05_SEG9  ----  4
KBA05_VORB0  ----  5
KBA05_VORB1  ----  5
KBA05_VORB2  ----  6
KBA05_ZUL1  ----  5
KBA05_ZUL2  ----  5
KBA05_ZUL3  ----  6
KBA05_ZUL4  ----  6
KBA13_ALTERHALTER_30  ----  5
KBA13_ALTERHALTER_45  ----  5
KBA13_ALTERHALTER_60  ----  5
KBA13_ALTERHALTER_61  ----  5
KBA13_ANTG1  ----  5
KBA13_ANTG2  ----  5
KBA13_ANTG3  ----  4
KBA13_ANTG4  ----  3
KBA13_ANZAHL_PKW  ----  1261
KBA13_AUDI  ----  5
KBA13_AUTOQUOTE  ----  6
KBA13_BAUMAX  ----  5
KBA13_BJ_1999  ----  5
KBA13_BJ_2000  ----  5
KBA13_BJ_2004  ----  5
KBA13_BJ_2006  ----  5
KBA13_BJ_2008  ----  6
KBA13_BJ_2009  ----  6
KBA13_BMW  ----  5
KBA13_CCM_0_1400  ----  6
KBA13_CCM_1000  ----  6
KBA13_CCM_1200  ----  6
KBA13_CCM_1400  ----  5
KBA13_CCM_1401_2500  ----  5
KBA13_CCM_1500  ----  5
KBA13_CCM_1600  ----  5
KBA13_CCM_1800  ----  6
KBA13_CCM_2000  ----  5
KBA13_CCM_2500  ----  6
KBA13_CCM_2501  ----  6
KBA13_CCM_3000  ----  6
KBA13_CCM_3001  ----  5
KBA13_FAB_ASIEN  ----  5
KBA13_FAB_SONSTIGE  ----  5
KBA13_FIAT  ----  5
KBA13_FORD  ----  5
KBA13_GBZ  ----  5
KBA13_HALTER_20  ----  5
KBA13_HALTER_25  ----  5
KBA13_HALTER_30  ----  5
KBA13_HALTER_35  ----  5
KBA13_HALTER_40  ----  5
KBA13_HALTER_45  ----  5
KBA13_HALTER_50  ----  5
KBA13_HALTER_55  ----  5
KBA13_HALTER_60  ----  5
KBA13_HALTER_65  ----  5
KBA13_HALTER_66  ----  5
KBA13_HERST_ASIEN  ----  5
KBA13_HERST_AUDI_VW  ----  5
KBA13_HERST_BMW_BENZ  ----  5
KBA13_HERST_EUROPA  ----  5
KBA13_HERST_FORD_OPEL  ----  5
KBA13_HERST_SONST  ----  5
KBA13_HHZ  ----  5
KBA13_KMH_0_140  ----  6
KBA13_KMH_110  ----  3
KBA13_KMH_140  ----  5
KBA13_KMH_140_210  ----  5
KBA13_KMH_180  ----  5
KBA13_KMH_210  ----  5
KBA13_KMH_211  ----  6
KBA13_KMH_250  ----  6
KBA13_KMH_251  ----  3
KBA13_KRSAQUOT  ----  6
KBA13_KRSHERST_AUDI_VW  ----  6
KBA13_KRSHERST_BMW_BENZ  ----  6
KBA13_KRSHERST_FORD_OPEL  ----  6
KBA13_KRSSEG_KLEIN  ----  4
KBA13_KRSSEG_OBER  ----  4
KBA13_KRSSEG_VAN  ----  4
KBA13_KRSZUL_NEU  ----  4
KBA13_KW_0_60  ----  5
KBA13_KW_110  ----  6
KBA13_KW_120  ----  6
KBA13_KW_121  ----  6
KBA13_KW_30  ----  3
KBA13_KW_40  ----  6
KBA13_KW_50  ----  6
KBA13_KW_60  ----  6
KBA13_KW_61_120  ----  5
KBA13_KW_70  ----  6
KBA13_KW_80  ----  6
KBA13_KW_90  ----  6
KBA13_MAZDA  ----  5
KBA13_MERCEDES  ----  5
KBA13_MOTOR  ----  4
KBA13_NISSAN  ----  5
KBA13_OPEL  ----  5
KBA13_PEUGEOT  ----  5
KBA13_RENAULT  ----  5
KBA13_SEG_GELAENDEWAGEN  ----  5
KBA13_SEG_GROSSRAUMVANS  ----  5
KBA13_SEG_KLEINST  ----  5
KBA13_SEG_KLEINWAGEN  ----  5
KBA13_SEG_KOMPAKTKLASSE  ----  5
KBA13_SEG_MINIVANS  ----  5
KBA13_SEG_MINIWAGEN  ----  5
KBA13_SEG_MITTELKLASSE  ----  5
KBA13_SEG_OBEREMITTELKLASSE  ----  5
KBA13_SEG_OBERKLASSE  ----  6
KBA13_SEG_SONSTIGE  ----  5
KBA13_SEG_SPORTWAGEN  ----  6
KBA13_SEG_UTILITIES  ----  5
KBA13_SEG_VAN  ----  5
KBA13_SEG_WOHNMOBILE  ----  6
KBA13_SITZE_4  ----  5
KBA13_SITZE_5  ----  5
KBA13_SITZE_6  ----  5
KBA13_TOYOTA  ----  5
KBA13_VORB_0  ----  5
KBA13_VORB_1  ----  5
KBA13_VORB_1_2  ----  5
KBA13_VORB_2  ----  5
KBA13_VORB_3  ----  6
KBA13_VW  ----  5
KKK  ----  4
KOMBIALTER  ----  5
KONSUMNAEHE  ----  7
KONSUMZELLE  ----  2
LP_FAMILIE_FEIN  ----  12
LP_FAMILIE_GROB  ----  6
LP_LEBENSPHASE_FEIN  ----  41
LP_LEBENSPHASE_GROB  ----  13
LP_STATUS_FEIN  ----  10
LP_STATUS_GROB  ----  5
MIN_GEBAEUDEJAHR  ----  32
MOBI_RASTER  ----  6
MOBI_REGIO  ----  6
NATIONALITAET_KZ  ----  3
ONLINE_AFFINITAET  ----  6
ORTSGR_KLS9  ----  10
OST_WEST_KZ  ----  2
PLZ8_ANTG1  ----  5
PLZ8_ANTG2  ----  5
PLZ8_ANTG3  ----  4
PLZ8_ANTG4  ----  3
PLZ8_BAUMAX  ----  5
PLZ8_GBZ  ----  5
PLZ8_HHZ  ----  5
PRAEGENDE_JUGENDJAHRE  ----  15
REGIOTYP  ----  7
RELAT_AB  ----  5
RETOURTYP_BK_S  ----  5
RT_KEIN_ANREIZ  ----  5
RT_SCHNAEPPCHEN  ----  5
RT_UEBERGROESSE  ----  6
SEMIO_DOM  ----  7
SEMIO_ERL  ----  7
SEMIO_FAM  ----  7
SEMIO_KAEM  ----  7
SEMIO_KRIT  ----  7
SEMIO_KULT  ----  7
SEMIO_LUST  ----  7
SEMIO_MAT  ----  7
SEMIO_PFLICHT  ----  7
SEMIO_RAT  ----  7
SEMIO_REL  ----  7
SEMIO_SOZ  ----  7
SEMIO_TRADV  ----  7
SEMIO_VERT  ----  7
SHOPPER_TYP  ----  4
SOHO_KZ  ----  2
STRUKTURTYP  ----  3
UMFELD_ALT  ----  5
UMFELD_JUNG  ----  5
UNGLEICHENN_FLAG  ----  2
VERDICHTUNGSRAUM  ----  46
VERS_TYP  ----  2
VHA  ----  6
VHN  ----  5
VK_DHT4A  ----  11
VK_DISTANZ  ----  13
VK_ZG11  ----  11
W_KEIT_KIND_HH  ----  6
WOHNDAUER_2008  ----  9
WOHNLAGE  ----  8
ZABEOTYP  ----  6
ANREDE_KZ  ----  2
ALTERSKATEGORIE_GROB  ----  5
CAMEO_DEU_2015_2  ----  9
CAMEO_DEUG_2015_2  ----  9
CAMEO_INTL_2015_2  ----  5

In [120]:
big_cat_columns.pop(0)
big_cat_columns

['ALTER_HH',
 'ALTERSKATEGORIE_FEIN',
 'ANZ_HAUSHALTE_AKTIV',
 'ANZ_HH_TITEL',
 'ANZ_PERSONEN',
 'ANZ_STATISTISCHE_HAUSHALTE',
 'EINGEZOGENAM_HH_JAHR',
 'GEBURTSJAHR',
 'KBA13_ANZAHL_PKW',
 'LP_LEBENSPHASE_FEIN',
 'MIN_GEBAEUDEJAHR',
 'VERDICHTUNGSRAUM']

In [ ]:
#convert numeraical data columns to categories

numerical_columns = ['ANZ_HAUSHALTE_AKTIV', ]

azdias['ANZ_HAUSHALTE_AKTIV'].value_counts()